<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tudn" translate="label" sortOrder="110">
            <label>Tudn Configuration</label>
        </tab>
        <section id="system_categories" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Categories Field</label>
            <tab>tudn</tab>
            <resource>Tudn_SystemCategoriesField::system_categories</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="categories" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Categories</label>
                    <frontend_model>Tudn\SystemCategoriesField\Block\Adminhtml\Settings\CategorySelect</frontend_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
